//Responsive Design Variables
$phone-lowerBound : 0px;
$phone-upperBound : 767px;
$tablet-lowerBound: 768px;
$tablet-upperBound: 991px;
$desktop-lowerBound: 992px;
$desktop-upperBound: 1199px;
$huge-lowerBound: 1200px;
$lowHeight-upperBound: 300px;


