//Element Size Height Relation
$phone-elementHeight: (700px / 12);
$tablet-elementHeight: (850px / 12);
$laptop-elementHeight: (950px / 12);
$desktop-elementHeight: (100vh / 12);
$huge-elementHeight: (100vh / 12);
