@function get-rowHeight($type)
{
    @if contains($media-list, $type)
    {
        @return getElementHeight($type);
    }
}


@mixin row-generate($type, $number)
{
    @if contains($media-list, $type)
    {
        @include breakpoint($type) 
        {
            min-height: get-rowHeight($type) * $number;
        }
    }
    @else 
    {
        @error("Improper input to row-generate: phone, tablet, laptop, desktop, or huge as parameters. You entered: #{$type}");
    }
}

@mixin row-generate-fixed($number)
{
    //Uses phone (Lowest element) as data.
    min-height: get-rowHeight(phone) * $number;
}


@mixin top-generate($type, $number)
{
    @if contains($media-list, $type)
    {
        @include breakpoint($type) 
        {
            margin-top: get-rowHeight($type) * $number;
        }
    }
    @else 
    {
        @error("Improper input to top-generate: phone, tablet, laptop, desktop, or huge as parameters. You entered: #{$type}");
    }
}

@mixin top-generate-fixed($number)
{
    //Uses phone (Lowest element) as data.
    margin-top: get-rowHeight(phone) * $number;
}
